 {{! content section }}
    {{! le w-fit ne marche pas du coup la card est trop large }}
    <div class="flex justify-evenly w-fit mb-4">
        <section class="w-2/3">
            <p>{{content}}</p>
        </section>
        <div class="bg-borders min-h-full w-0.5 rounded-full"></div>
        <section class="px-4 py-4 flex flex-col justify-center relative shrink-0">
            <button class="flex items-center gap-2 cursor-pointer"> {{author}} 
                <div class="w-10 aspect-square rounded-full bg-borders"></div>
            </button>
            <button class="absolute bottom-2 cursor-pointer">Illustrer</button>
        </section>
    </div>
    