<li>
    <input type="checkbox" name="{{.}}" id="{{.}}" value="{{.}}" class="hidden peer">
    <label for="{{.}}" class="font-family-joan text-faded-text peer-checked:text-black peer-checked:border-black border border-faded-text p-1 py-1.5 cursor-pointer select-none">{{.}}</label>
</li>