RewriteEngine On 
# Root du projet
RewriteBase /api

# Redirige vers index.php
RewriteRule ^$ public/index.php [L]

# Rediriger les tests
RewriteRule ^tests/(.*)$ views/test.php [L]

# rediriger vers la page auth
RewriteRule ^auth$ views/auth.php [L]

# redirigier vers la page newstory
RewriteRule ^newstory$ views/newstory.php [L]

# rediriger vers la page admin
RewriteRule ^admin$ views/admin.php [L]

# rediriger vers la page user avec un id dynamique
RewriteRule ^user/([^/]+)$ views/user.php?id=$1 [L,QSA]

# Rediriger vers le controller de l'inscription
RewriteRule ^auth/register(.*)$ controllers/register.php [L]

# Rediriger vers le controller de l'authentification
RewriteRule ^auth/login(.*)$ controllers/login.php [L]

# Rediriger vers le controller de la déconnexion
RewriteRule ^logout(.*)$ controllers/logOut.php [L]

# Rediriger vers les apis avec préservation du PATH_INFO
RewriteRule ^serve/(.*)$ controllers/api.php/$1 [L]

# Rediriger vers la recherche
RewriteRule ^search(.*)$ views/search.php [L]

# Rediriger vers addStory
RewriteRule ^addStory(.*)$ controllers/addStory.php [L]

# Rediriger vers la page newParticipation
RewriteRule ^newParticipation$ views/newParticipation.php [L]

# Rediriger vers addParticipation
RewriteRule ^addParticipation(.*)$ controllers/addParticipation.php [L]

# Ajouter une règle de base URL pour les pages story
RewriteRule ^story/([^/]+)$ views/story.php?id=$1 [L,QSA,B]

# Rediriger vers la page des likes de l'utilisateur
RewriteRule ^likes$ views/likes.php [L]

# Redirigier vers la page contributions de l'utilisateur
RewriteRule ^contributions$ views/contributions.php [L]