RewriteEngine On 
# Root du projet
RewriteBase /api

# Redirige vers index.php
RewriteRule ^$ public/index.php [L]

# Rediriger les tests
RewriteRule ^tests/(.*)$ views/test.php [L]

# rediriger vers la page auth
RewriteRule ^auth$ views/auth.php [L]

# redirigier vers la page newstory
RewriteRule ^newstory$ views/newstory.php [L]

# rediriger vers la page admin
RewriteRule ^admin$ views/admin.php [L]

# Rediriger vers le controller de l'inscription
RewriteRule ^auth/register(.*)$ controllers/register.php [L]

# Rediriger vers le controller de l'authentification
RewriteRule ^auth/login(.*)$ controllers/login.php [L]

# Rediriger vers le controller de la déconnexion
RewriteRule ^logout(.*)$ controllers/logOut.php [L]

# Rediriger vers les apis avec préservation du PATH_INFO
RewriteRule ^serve/(.*)$ controllers/api.php/$1 [L]

# Rediriger vers la recherche
RewriteRule ^search(.*)$ views/search.php [L]