<div class="bg-red-500 h-2/3 w-1/5 absolute left-12 top-32 flex-col items-center">
    <button class="font-family-joan text-2xl flex items-end gap-1 cursor-pointer dropdown">Thèmes<img src="./api/public/svg/chevron-down.svg" class="size-6 stroke-1"></img></button>
</div>