<nav class="w-full sticky top-0 z-[1000] bg-background">
    <div class="flex md:justify-between items-center px-4 mb-2 py-2 md:py-0">
        <div class="hidden md:block md:flex-1 "></div>
        <a href="/" class=" flex justify-center"><h1 class="font-family-chomsky text-3xl md:text-6xl">The StoryTeller</h1></a>
        <div class="flex-1 flex justify-end items-center gap-2">
        {{#isAuthRoute}}
        {{^ isConnected}}
            <a href="/auth">Se connecter</a>
        {{/ isConnected}}
        {{#isConnected}}
        <div class="flex-1 flex justify-end items-center gap-2">
            <a class="flex justify-end items-center gap-2" href="/user/{{userId}}">
                <p class="font-family-joan hidden md:inline">{{username}}</p>
                <img class="bg-gray-500 rounded-full size-8 object-cover object-center" src='{{avatar}}' onerror="this.src='/api/public/images/default.jpg'"></img>
            </a>
            <a href="/logout"><img src="/api/public/svg/log-out.svg" alt="" class="size-4 stroke-1"></img></a>
        </div>
        {{/isConnected}}
        {{/isAuthRoute}}
        </div>
    </div>
    <hr class="mb-1 ">
    <hr class="">
    <div class="h-8 flex justify-between items-center px-4">
        <div class="font-family-joan flex flex-1 justify-start">
            {{#isAuthRoute}}
            {{#isConnected}}
                <a href="/newstory" class="flex items-center"><img src="/api/public/svg/book-open.svg" alt="" class="stroke-1 size-6 me-2"> <span class="hidden md:inline">Commencer une nouvelle histoire</span></a>
            {{/isConnected}}
            {{/isAuthRoute}}
        </div>
        <div class="font-family-joan flex flex-1 justify-center">
            <a href="">{{date}}</a>
        </div>
        <div class="font-family-joan flex flex-1 justify-end space-x-4">
            {{# isConnected}}
            {{#isAuthRoute}}
            <a href="/likes" class="flex space-x-2">
                <span class="hidden md:inline">Histoires likées</span>
                <img src="/api/public/svg/heart.svg" alt="" class="stroke-0 size-6 ms-1">
            </a>
            <a href="/contributions" class="flex space-x-2">
                <span class="hidden md:inline">Mes contributions</span>
                <img src="/api/public/svg/book-marked.svg" alt="" class="stroke-1 size-6 ms-1">
            </a>
            {{#isAdmin}}
            <a href="/admin" class="flex space-x-2">
                <span class="hidden md:inline">Dashboard</span>
                <img src="/api/public/svg/dashboard.svg" alt="" class="stroke-1 size-6 ms-1">
            </a>
            {{/isAdmin}}
            {{/isAuthRoute}}
            {{^isAuthRoute}}
            {{/isAuthRoute}}
            {{/isConnected}}
        </div>
    </div>
    <hr class="mb-1">
    <hr class="">
</nav>