<nav class="w-full sticky top-0 z-50 bg-background">
    <div class="flex justify-between items-center px-4 mb-2">
        <div class="flex-1"></div>
        <a href="/" class="flex-1 flex justify-center"><h1 class="font-family-chomsky text-6xl">The StoryTeller</h1></a>
        <div class="flex-1 flex justify-end items-center gap-2">
        {{#isAuthRoute}}
        {{^ isConnected}}
            <a href="/auth">Se connecter</a>
        {{/ isConnected}}
        {{#isConnected}}
        <div class="flex-1 flex justify-end items-center gap-2">
            <a class="flex justify-end items-center gap-2" href="/logout">
                <p class="font-family-joan">{{username}}</p>
                <img class="bg-gray-500 rounded-full size-8 object-cover object-center" src='{{avatar}}' onerror="this.src='/api/public/images/default.jpg'"></img>
            </a>
        </div>
        {{/isConnected}}
        {{/isAuthRoute}}
        </div>
    </div>
    <hr class="mb-1">
    <hr>
    <div class="h-8 flex justify-between items-center px-4">
        <div class="font-family-joan flex flex-1 justify-start">
            {{#isAuthRoute}}
            {{#isConnected}}
            <a href="/newstory" class="flex space-x-2"><img src="/api/public/svg/book-open.svg" alt="" class="stroke-1 size-6 me-2"> Commencer une nouvelle histoire</a>
            {{/isConnected}}
            {{/isAuthRoute}}
        </div>
        <div class="font-family-joan flex flex-1 justify-center">
            <a href="">{{date}}</a>
        </div>
        <div class="font-family-joan flex flex-1 justify-end space-x-4">
            {{# isConnected}}
            {{#isAuthRoute}}
            <a href="" class="flex space-x-2">Histoires suivies <img src="/api/public/svg/eye.svg" alt="" class="stroke-0 size-6 ms-1"></a>
            <a href="" class="flex space-x-2">Mes contributions <img src="/api/public/svg/book-marked.svg" alt="" class="stroke-1 size-6 ms-1"></a>
            {{/isAuthRoute}}
            {{/isConnected}}
        </div>
    </div>
    <hr class="mb-1">
    <hr>
</nav>