<div class="bg-background mx-auto w-1/2 relative h-fit flex flex-col justify-center items-center mt-4 mb-4 px-6 py-4 border-1 border-borders">
    {{! title section }}
    <div class="flex flex-col justify-center items-center mb-8 after:content-[''] after:block after:w-1/2 after:h-0.5 after:bg-borders after:rounded-full after:mt-2">    
        <h1 class="font-family-chomsky text-6xl">{{title}}</h1>
    </div>
    {{>storycardContent}}
    {{! footer section }}
    <div class="mt-4">
        <button class="flex flex-col items-center">
            Participer
            <i class="bg-orange-400">PLUS ICON</i>
        </button>
    </div>
    <p class="absolute bottom-1 left-2 text-faded-text">{{participationNumber}} participation(s)</p>
    <div class="absolute bottom-0 -right-32 flex flex-col items-end">
        <button class="px-4 py-2">Garder à l'oeil</button>
        <button class="px-4 py-2 self-start">♥ {{likes}}</button>
    </div>
</div>