<div class="w-3/4 md:w-[630px] mx-auto relative h-fit flex flex-col justify-center items-center mt-4 mb-4 px-6 py-4 border-1 border-borders">
    {{! title section }}
    <div class="flex flex-col justify-center text-center mb-2 items-center after:content-[''] after:block after:w-1/2 after:h-0.5 after:bg-borders after:rounded-full after:mt-2">    
        <a href="/story/{{id}}"><h1 class="font-family-joan font-bold uppercase text-2xl md:text-4xl">{{title}}</h1></a>
    </div>
    {{! thèmes section }}
    {{#themes.length}}
    <div class="flex flex-wrap gap-2 mb-4">
        {{#themes}}
        <a href="/search?themes={{name}}" class="border border-borders px-2 py-1 text-faded-text">
            {{name}}
        </a>
        {{/themes}}
    </div>
    {{/themes.length}}

    
    <div class="w-full ">
    {{# participations}}
        {{> participation}}
    {{/ participations}}
    </div>
    {{! footer section }}
    <div class="mt-4 mb-4 md:mb-0">
        {{^full}}
        <a href='/newParticipation?story={{title}}' class="flex flex-col items-center cursor-pointer">
            Participer
            <img src="/api/public/svg/plus.svg" alt="" class="stroke-1 size-6 mt-2">
        </a>
        {{/full}}
        {{#full}}
        <a href='/story/{{id}}' class="flex flex-col items-center cursor-pointer">
            Voir plus
            <img src="/api/public/svg/arrow-down.svg" alt="" class="stroke-1 size-6 mt-2 stroke-borders">
        </a>
        {{/full}}
    </div>
    <p class="absolute bottom-1 left-2 text-faded-text cursor-default">{{participationNumber}} participation(s)</p>    


    <div class="absolute bottom-0 right-0 md:-right-38 flex flex-col items-end">
        <button class="px-4 py-2 flex cursor-pointer">
        <img src="/api/public/svg/eye.svg" class="stroke-1 size-6 me-1" alt="">
        <span class="hidden md:block">Garder à l'oeil</span>
        </button>
        <button id="like-btn-{{id}}" class="px-4 py-2 self-start flex cursor-pointer {{#hasUserLiked}}liked{{/hasUserLiked}}" onclick="toggleLike('{{id}}')">
            <img src="/api/public/svg/{{#hasUserLiked}}heart-fill{{/hasUserLiked}}{{^hasUserLiked}}heart{{/hasUserLiked}}.svg" class="stroke-1 size-6" alt="">
            <span id="likes-count-{{id}}">{{likes}}</span>
        </button>
    </div>
</div>