<main class='flex-1 pt-4  px-6 flex justify-around'>
    <section class="bg-red-500 w-3/5">
        DISPLAY LES STORY DU USER
    </section>
    <aside class="border h-2/3 w-1/5 px-4 py-2">
        <div class="bg-red-300 flex items-center justify-start h-fit gap-x-4 mb-2   ">
            <div class="bg-slate-300 w-16 aspect-square rounded-full"></div>
            <h1 class="font-family-chomsky text-3xl">John Doe</h1>
        </div>
        <div class="bg-blue-300 mb-2">
            <p class="text-sm">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatibus.</p>
        </div>
        <div class="bg-green-300">
            <p><span>{{followers}}</span> Followers</p>
            <p><span>{{stories}}</span> Stories</p>
        </div>
    </aside>
</main>